[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "signibox"]
	path = signibox
	url = https://github.com/cran/signibox
	shallow = true
	registered = true
